* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {
  color: #8B4513;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  font-size: 50px;
}

h3 a {
  font-family: 'Marck Script', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #8B4513;
  padding-top: 5px;
  text-decoration-line: underline;
}

h3 a:hover {
  color: #8B4513;
}

.nopadding {
  padding: 0;
  margin: 0 ;
}

.header {
  background: #EED5B7;
  width: 100%;
  min-height: 50px;
  transition: 0.5s;
  z-index: 10;
}

.header2 ul {
  padding: 4px 0;
}

.header ul li {
  padding: 0px 15px;
}

.header ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.header ul li:hover a {
  color: #8B4513 !important;
  transition: 0.4s;
}

.menudam {
  background: #8B7765;
  position: fixed;
  z-index: 10;
  transition: 0.5s;
}

.text-white {
  color: white;
}

/* ===============End Header================== */
.banner {
  width: 100%;
  height: 500px;
  background-image: url('../image/about/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*================= End-Banner ================*/
.content {
  width: 100%;
  min-height: 800px;
  background: #fdf5e6ad;
  padding: 50px 80px;
  position: relative;
}

.welcome {
  text-align: center;
}

.welcome p {
  max-width: 750px;
  margin: auto;
  line-height: 2;
  font-family: 'Source Sans Pro', sans-serif;
}

.welcome h6 {
  max-width: 750px;
  text-align: right;
  margin: auto;
}

.welcome h6 a {
  color: #8B4513;
}

/* ===============About=============== */
.about-1980 {
  text-align: center;
  width: 850px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 100px;
  opacity: 0;
}

.about h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: 900;
  color: #383838;
}

.about h3 {
  font-size: 26px;
  font-weight: 400;
  color: black;
  font-family: 'Roboto Slab', serif;
}

.about p {
  font-size: 16px;
  line-height: 1.8;
  padding: 30px 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.about-1980 h3 {
  padding: 20px 0;
}

.about-1980 p {
  width: 800px;
  margin: 0 auto;
}

.about-img {
  max-width: 550px;
  height: 350px;
}

.about-1990 {
  margin-bottom: 100px;
  opacity: 0;
}

.about-1990 h2 {
  text-align: center;
  margin-bottom: 60px;
}
.about-2005{
  opacity: 0;
}
.about-2005 h2 {
  text-align: center;
  margin-bottom: 60px;
}

.about-2017 {
  text-align: center;
  width: 850px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 100px;
  opacity: 0;
}
.hienra-1 {
  animation: hienlen 1.8s forwards;
  transition: 1s;
  opacity: 1;
}

@-webkit-keyframes hienlen {
  0% {
    bottom: -200px;
  }

  100% {
    bottom: 0px;
  }
}
.hienra-2 {
  animation: hienbentrai 1.6s forwards;
  transition: 1s;
  opacity: 1;
}

@-webkit-keyframes hienbentrai {
  0% {
    left: -200px;
  }

  100% {
    left: 0px;
  }
}
.hienra-3 {
  animation: hienbenphai 1.6s forwards;
  transition: 1s;
  opacity: 1;
}

@-webkit-keyframes hienbenphai {
  0% {
    right: -200px;
  }

  100% {
    right: 0px;
  }
}
.hienra-4 {
  animation: hienra-4 1.6s forwards;
  transition: 1s;
  opacity: 1;
}

@-webkit-keyframes hienra-4 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* ===============MasterChef=============== */
.chef {
  max-width: 260px;
  height: 329px;
  border: 2px solid #8B4513;
  position: relative;
  padding: 10px;
  margin: 10px auto;
}

.xam {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #3a3a3a;
  z-index: 2;
  transition: 0.4s;
  width: 236px;
  height: 307px;
  opacity: 0;
}

.chuto {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  z-index: 4;
  color: white;
  text-align: center;
  width: 100%;
  top: 20%;
  left: 0%;
  transition: 0.4s;
  opacity: 0;
}

.chunho {
  position: absolute;
  top: 45%;
  color: white;
  z-index: 5;
  text-align: center;
  font-size: 16px;
  transition: 0.4s;
  font-weight: 500;
  opacity: 0;
  left: 14%;
}

.icon {
  position: absolute;
  top: 75%;
  color: white;
  z-index: 6;
  left: 31%;
  font-size: 20px;
  transition: 0.4s;
  font-weight: 500;
  opacity: 0;
  transition: 0.2s;
}

.icon i {
  padding: 0 5px;
  margin-right: 5px;
  cursor: pointer;
}

.icon i:hover {
  color: yellow;
  transition: 0.2s;
}

.chef:hover .chuto {
  opacity: 1;
}

.chef:hover .chunho {
  opacity: 1;
}

.chef:hover .xam {
  opacity: 0.6;
}

.chef:hover .icon {
  opacity: 1;
}

.chef-img {
  width: 237px;
  height: 307px;
}

.masterchef h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* ===============Discover=============== */
.discover {
  width: 100%;
  min-height: 480px;
  background-image: url("../image/about/discover.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 100px;
}

.discover h1 {
  color: white;
  font-size: 70px;
}

.discover p {
  color: white;
  font-size: 28px;
  font-family: 'Source Sans Pro', sans-serif;
}

.checkmenu {
  color: white;
  font-weight: 600;
  font-size: 15px;
  width: 180px;
  height: 40px;
  padding: 6px 10px;
  border: 1px solid white;
  text-align: center;
  border-radius: 50px;
  transition: 0.4s;
  margin: 0px auto;
  margin-top: 100px;
}

.discover a {
  text-decoration: none;
}

.discover a:hover .checkmenu {
  color: black;
  background: white;
  transition: 0.4s;
}

/* ================Footer=============== */
.footer {
  bottom: 0;
  height: auto;
  width: 100%;
  background: #EEDFCC;
}

.footer h3 {
  color: #8B4513;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer_first{
  padding: 5%;
}
.header3 {
  font-family: 'Marck Script', cursive;
  font-size: 43px;
  font-weight: 600;
  color: #8B4513;
  margin-top: -10px;
}

.contact-us {
  margin: 0 auto;
}

.contact-us p {
  font-size: 14px;
  line-height: 1;
  color: #1C1C1C;
}

.opening {
  margin: 0 auto;
}

.opening p {
  font-size: 14px;
  line-height: 1;
  color: #1C1C1C;
}

.opening h6 {
  margin-top: -10px;
  margin-bottom: 10px;
}

.designed-by {
  background: #8B7765;
  width: 100%;
  max-height: 50px;
  text-align: center;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}

.info-baguetto {
  margin: 0 auto;
}

.info-baguetto i {
  padding-right: 10px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.info-baguetto i:hover {
  transition: 0.4s;
  color: #8B4513;
}
