* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {
  color: #935E01;
  font-family: 'Days One', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

h3 a {
  font-family: 'Marck Script', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #8B4513;
  padding-top: 5px;
  text-decoration-line: underline;
}

h3 a:hover {
  color: #8B4513;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.header {
  background: #EED5B7;
  width: 100%;
  min-height: 50px;
  transition: 0.5s;
  z-index: 10;
}

.header2 ul {
  padding: 4px 0;
}

.header ul li {
  padding: 0px 15px;
}

.header ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.header ul li:hover a {
  color: #8B4513 !important;
  transition: 0.4s;
}

.menudam {
  background: #8B7765;
  position: fixed;
  z-index: 10;
  transition: 0.5s;
}

.text-white {
  color: white;
}

/* ===============End Header================== */
.banner {
  width: 100%;
  height: 500px;
  background-image: url('../image/gallery-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ===============End banner================== */
.gallery{
  width: 100%;
  height: auto;
  background: #fdf5e6ad;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 50px;
  margin: 0 auto;
}
.filter {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}
.filter ul li {
  display: inline-block;
  list-style: none;
  margin: 0 50px;
}
.filter ul li a{
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 5px;
  background: #dfbda0;
  color: #2e2e2eed;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
}
.filter ul li a:hover{
  background:  #2e2e2eed;
  color: #f3ceaf;
}
.list-gallery ul li img{
  width: 100%;
}
.list-gallery ul li {
  width: 30%;
  list-style: none;
  margin: 10px;
  display: inline-block;
  transition: 0.3s;
}
.list-gallery ul li:hover{
  transform: scale(1.05);
  transition: 0.4s;
  cursor: pointer;
}
/* ===============End Gallery================== */

/* ================Footer=============== */
.footer {
  bottom: 0;
  height: auto;
  width: 100%;
  background: #EEDFCC;
}

.footer h3 {
  color: #8B4513;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer_first{
  padding: 5%;
}
.header3 {
  font-family: 'Marck Script', cursive;
  font-size: 43px;
  font-weight: 600;
  color: #8B4513;
  margin-top: -10px;
}

.contact-us {
  margin: 0 auto;
}

.contact-us p {
  font-size: 14px;
  line-height: 1;
  color: #1C1C1C;
}

.opening {
  margin: 0 auto;
}

.opening p {
  font-size: 14px;
  line-height: 1;
  color: #1C1C1C;
}

.opening h6 {
  margin-top: -10px;
  margin-bottom: 10px;
}

.designed-by {
  background: #8B7765;
  width: 100%;
  max-height: 50px;
  text-align: center;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}

.info-baguetto {
  margin: 0 auto;
}

.info-baguetto i {
  padding-right: 10px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.info-baguetto i:hover {
  transition: 0.4s;
  color: #8B4513;
}
